#title{
    background-color: #ff4c68;

}
h1{
    font-family:"Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
}
h3{
    font-family: "Montserrat-Bold";
}

h2{
    font-family: "Montserrat-Bold";
    font-size: 3rem;
    line-height: 1.5;
}
p{
    color: gray;
}
.container-fluid{
    padding: 3% 15%;
}
body{
    font-family:"Montserrat";
}
#title{
    background-color: #ff4c68;
    color: #fff;
}
#title .container-fluid {
    padding: 3% 15% 7%;
  }
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar{
    padding-bottom: 0 0 6.5rem;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-family: 1.2rem;
    font-family:"Montserrat" ;
}

/* download button */

.download-button{
    margin: 5% 3% 5% 0;
}

/* title-image */
.title-image {
    width: 40%;
    transform: rotate(25deg);
   
}
#features{
    padding: 7% 15%;
    text-align: center;
}
.feature-box{
    padding: 5% ;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;

}
.icon:hover{
    color:#ff4c68
}

/* Testimonial */
#testimonials{

text-align: center;
background-color: #ef8172;
color: #fff;

}
.testimonials-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width:10%;
    margin: 30px;
    
}
.carousel-item{
   padding: 7% 15%; 
}
/* pricing section */
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-column{
    padding: 3% 2%;
    text-align: center;
}

/* Containers */

.container-fluid{
    padding: 7% 15%;
  }
  
  /* Sections */
  
  .colored-section {
    background-color: #ff4c68;
    color: #fff;
  }
  
  .white-section {
    background-color: #fff;
  }

  /* Footer section */
  .colored-section{
    text-align: center;
  }
  .white-section{
    text-align: center;
  }